.friend{
  display: flex;
  justify-content: space-between;
  border-top: 0.001px #e5ebf1 solid ;
  border-bottom: 0.001px #e5ebf1 solid ;
  align-items: center;
  padding: 15px;
  &__photo{
    width: 50px;
    height: 50px;
    border-radius: 40px;
  }

}
.main{
  &__button{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #5c9ce6;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 30px;
    font-family: 'Fredoka One', cursive;
  }
  &__button:hover{
    background: #5c9ce6;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }
}
